<!DOCTYPE html lang="ja">
<html>
  
  <head>
    <title>AWS SES Example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container" style="padding-top: 24px;">
      <a href="#feedbackModal" class="btn btn-primary" data-toggle="modal">Launch Feedback</a>
    </div>

    <div id="feedbackModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Send us feedback</h3>
      </div>
      <div class="modal-body">
        <textarea id="feedback" class="span7" rows="8" placeholder="ご意見・ご感想をご記入ください"></textarea>
      </div>
      <div class="modal-footer">
        <a id="send" href="#" class="btn btn-primary">Send feedback</a>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/feedback.js"></script>
  </body>

</html>